<footer class="footer">
    <div class="container">
        <p class="text-center">
            {{ site.title }} {{ site.time | date: '%Y' }} |
            Powered by <a href="https://github.com/codingapi">CodingApi</a>
            <label class="text-center text-nowrap">&nbsp;&nbsp;鲁ICP备17011778号-3</label>
        </p>

    </div>
    <script>
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?0793dd5c1905bdb5a00565a66c8b0ad4";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();
    </script>
</footer>
